* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
span {
    margin: 0;
    padding: 0;
}

/* Common css end */

/* Header Part Start */

#headerPart {
    background: #d9b257;
    line-height: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.headerLeft {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.headerRight p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.headerRight i {
    font-size: 16px;
    margin-right: 5px;
    margin-left: 25px;
    color: #ffffff;
}

.headerRight i:first-child {
    margin-left: 0px;
}

/* Header Part End */


/* Menu Part Start */

.mainMenu {
    background: #ffffff;
    position: relative;
    z-index: 1;
}

.mainMenu:after {
    position: absolute;
    content: '';
    left: 0;
    top: -50px;
    z-index: -1;
    width: 100%;
    height: 89px;
    background: url(../images/menu_shape.png);
}

.mainMenu ul li a.nav-link {
    padding: 0 22px !important;
    display: inline-block;
    color: #444444;
    font-size: 16px;
    line-height: 150px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    z-index: 1;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.mainMenu .navbar-nav .nav-item .activePage {
    color: #d9b257 !important;
}


.mainMenu .navbar-nav .nav-item .nav-link i {
    margin-left: 5px;
    position: absolute;
    top: 64px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.mainMenu .navbar-nav .nav-item .nav-link:hover {
    color: #d9b257;
}

.mainMenu .searchBox input {
    border: none;
    width: 90px;
    box-shadow: none;
    margin-left: 40px;
    color: #cccccc;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.mainMenu .searchBox button {
    border: none;
    color: #444444;
}

.mainMenu .searchBox button:hover {
    background: #ffffff;
    color: #d9b257;
}

.mainMenu .searchBox {
    border: 1px solid #ffffff;
    border-radius: 3px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.mainMenu .searchBox:hover {
    border: 1px solid #222222;
}

.mainMenu .searchBox:hover input {
    width: 130px;
    margin-left: 0px;
}


.mainMenu ul li {
    position: relative;
}



.mainMenu ul li ul {
    position: absolute;
    left: 0;
    bottom: -220px;
    width: 200px;
    background: #f1f1f1;
    text-align: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    visibility: hidden;
    opacity: 0;
}

.mainMenu ul li ul::after {
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #f1f1f1;
    left: 35px;
    top: -20px;
}

.mainMenu ul li:hover ul {
    bottom: -200px;
    visibility: visible;
    opacity: 1;

}

.mainMenu ul li ul li a {
    color: #444444;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 40px;
    position: relative;
    z-index: 1;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.mainMenu ul li ul li a:hover {
    color: #d9b257;
}



.menuFix {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    height: 100px;
    z-index: 99;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

.menuFix .mainMenu ul li a.nav-link {
    line-height: 100px;
}

.menuFix .mainMenu .navbar-nav .nav-item .nav-link i {
    margin-left: 5px;
    position: absolute;
    top: 38px;
}

.mainMenu .navbar-brand img {
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.menuFix .mainMenu .navbar-brand img {
    transform: scale(.8);
}

/* Menu Part End */


/* Banner Part Start */

.bannerItem {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 150px 0 370px;
    position: relative;
    z-index: 1;
}

.bannerItem:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
}

.bannerText p {
    color: #d9b257;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 16px;
}

.bannerText h1 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
}

.bannerText h1 span {
    font-weight: 700;
}

.bannerText h1 span {
    display: block;
}

#bannerPart {
    position: relative;
}

.bannerSmallSliderImg {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
}

.bannerBottom {
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

#bannerPart .slick-current .bannerBottom {
    border-color: #d9b257;
}

#bannerPart .slick-current .bannerBottom p {
    color: #d9b257;
}


.bannerText a {
    padding: 17px 13px 11px 23px;
    margin-top: 60px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
}

.bannerText a i {
    padding-left: 38px;
    position: relative;
}



.bannerText a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.bannerText a:hover:after {
    height: 50px;
}

.bannerText a i::after {
    position: absolute;
    content: '';
    left: 16px;
    bottom: -19px;
    width: 2px;
    height: 0;
    background: #000000;
    transform: rotate(10deg);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.bannerText a:hover i:after {
    height: 52px;
}


.bannerBottom h3 {
    color: #ffffff;
    font-size: 44px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
}


.bannerBottom p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
}

.bannerBottom p span {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}



/* Banner Part End */


/* About Part Start */

.aboutText {
    padding: 90px 0 130px 70px;
}

.aboutText h3 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.aboutText h4 {
    color: #999999;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    padding: 8px 0 23px;
}

.aboutText h4 span {
    display: block;
}


.aboutText p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    line-height: 26px;
    padding-right: 25px;
}

.aboutText a {
    padding: 17px 13px 11px 23px;
    margin-top: 25px;
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
}

.aboutText a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.aboutText a:hover {
    color: #ffffff;
}

.aboutText a:hover:after {
    height: 50px;
}

.aboutCounter {
    padding: 100px 0 0;
}

.aboutCounter p {
    color: #999999;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    padding-bottom: 88px;
}

.aboutCounter p span {
    font-size: 60px;
    color: #d9b257;
}

.aboutCounter .divLine {
    position: relative;
}

.aboutCounter .divLine::after {
    position: absolute;
    content: '';
    left: 95px;
    bottom: 47px;
    width: 60px;
    height: 3px;
    background: #d9b257;
}

.aboutCounter .divLine::before {
    position: absolute;
    content: '';
    left: 95px;
    top: -47px;
    width: 60px;
    height: 3px;
    background: #d9b257;
}


/* About Part End */


/*Service Part Start */


#servicePart {
    background: url(../images/service_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 0 168px;
    position: relative;
    z-index: 1;
}

#servicePart::after {
    position: absolute;
    content: '';
    left: 0;
    top: -0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1;
}

.serviceText h3 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
}

.serviceText p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    margin-bottom: 50px;
}

.serviceImg1 {
    margin-right: 25px;
    position: relative;
    width: 620px;
    height: 400px;
}

.cardPosition1 {
    position: absolute;
    right: -30px;
    bottom: -30px;
}

.serviceImg2 {
    margin-left: 25px;
    position: relative;
    width: 440px;
    height: 400px;
}

.cardPosition2 {
    position: absolute;
    right: -30px;
    bottom: -30px;
}

.serviceImgCard {
    background: #ffffff;
    border: 1px solid #d9b257;
    width: 400px;

}

.serviceImgCard h4 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 30px;
}

.serviceImgCard p {
    color: #999999;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    padding: 3px 0 4px;
}

.serviceImgCard a {
    padding: 17px 13px 11px 23px;
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    margin-bottom: 29px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serviceImgCard a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


.serviceImgCard a:hover {
    color: #ffffff;
}

.serviceImgCard a:hover:after {
    height: 50px;
}

#servicePart .draggable {
    padding: 0 10px 30px 0 !important;
}

/*
#servicePart .slick-track {
    padding-left: 10px;
}
*/

/*Service Part End */

/* Projects Part Start */

#projectPart {
    padding: 100px 0;
}


.projectsText h3 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
}

.projectsText p {
    color: #999999;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    margin-bottom: 50px;
    padding: 0 13px 0;
}


.projectImgText {
    padding-left: 20px;
}

.projectImgText p {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 30px 0 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.projectImgText h4 {
    color: #999999;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.projectImg {
    position: relative;
}

.porjectLink {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 0%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.porjectLink a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    display: none;
}

.porjectLink a i {
    padding-left: 16px;
}

.projectInner:hover .porjectLink {
    height: 100%;
}

.projectInner:hover .porjectLink a {
    display: block;
}

.projectInner:hover .projectImgText p,
.projectInner:hover .projectImgText h4 {
    color: #d9b257;
}

.allProjectLink {
    padding-top: 60px;
}

.allProjectLink a {
    padding: 21px 20px 15px 20px;
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allProjectLink a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allProjectLink a:hover {
    color: #ffffff;
}

.allProjectLink a:hover:after {
    height: 60px;
}


/* Projects Part End */

/* Projects Part Start */

#expertPart {
    padding: 60px 0;
    background: url(../images/expart_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#expertPart::after {
    position: absolute;
    content: '';
    left: 0;
    top: -0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1;
}


.expertText h3 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
}

.expertText p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    margin-bottom: 50px;
    padding: 0 17px 0;
}


.expertImgText {
    padding-left: 20px;
}

.expertImgText p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 30px 0 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.expertImgText h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.expertImg {
    position: relative;
}

.expertLink {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 0%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.expertLink a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    display: none;
}

.expertLink a i {
    padding-left: 16px;
}

.expertInner:hover .expertLink {
    height: 100%;
}

.expertInner:hover .expertLink a {
    display: block;
}

.expertInner:hover .expertImgText p,
.expertInner:hover .expertImgText h4 {
    color: #d9b257;
}

.allExpertLink {
    padding-top: 60px;
}

.allExpertLink a {
    padding: 21px 20px 15px 20px;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allExpertLink a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allExpertLink a:hover {
    color: #ffffff;
}

.allExpertLink a:hover:after {
    height: 60px;
}


/* Expert Part End */


/*blog Part Start */


#blogPart {
    padding: 60px 0 168px;
}


.blogText h3 {
    color: #d9b257;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 10px;
}

.blogText p {
    color: #999999;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 34px;
    margin-bottom: 50px;
    padding: 0 27px 0;
}

.blogImg1 {
    margin-right: 25px;
    position: relative;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blogImg1:hover {
    -webkit-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
}

.cardPosition1 {
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.blogImg2 {
    margin-left: 25px;
    position: relative;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blogImg2:hover {
    -webkit-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.24);
}

.cardPosition2 {
    position: absolute;
    right: -30px;
    bottom: -30px;
}

.blogImgCard {
    background: #ffffff;
    border: 1px solid #d9b257;
    width: 400px;

}

.blogImgCard h6 {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 30px;
}

.blogImgCard h6 span {
    font-weight: 400;
}

.blogImgCard h6 span i {
    padding: 0 5px;
}

.blogImgCard p {
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    padding: 3px 0 4px 5px;
}
.blogImgCard:hover p {
    color: #d9b257;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blogImgCard a {
    padding: 17px 13px 11px 23px;
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    margin-bottom: 29px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blogImgCard:hover a {
    color: #d9b257;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blogImgCard a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


.blogImgCard a:hover {
    color: #ffffff;
}

.blogImgCard a:hover:after {
    height: 50px;
}

.allBlogLink {
    padding-top: 60px;
}

.allBlogLink a {
    margin-top: 40px;
    padding: 21px 20px 15px 20px;
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allBlogLink a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #d9b257;
    z-index: -1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.allBlogLink a:hover {
    color: #ffffff;
}

.allBlogLink a:hover:after {
    height: 60px;
}


/*blog Part End */


/* Footer Part Start */

#footerPart {
    padding: 60px 0;
    background: url(../images/footer_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    display: flex;
    color: aliceblue;
}

#footerPart::after {
    position: absolute;
    content: '';
    left: 0;
    top: -0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.footerLogo p {
    color: #777777;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    padding-top: 55px;
}






/* Footer Part Emd */





